





.mfx-date-picker .date-picker-popup .months-combo .mfx-combo-box-cell:hover {
    -fx-background-color: -primary-light-color !important;
}
.mfx-date-picker .date-picker-popup .months-combo .mfx-combo-box-cell:hover .data-label {
    -fx-text-fill: -background-color !important;
}

.mfx-date-picker .date-picker-popup .months-combo .mfx-combo-box-cell:selected  {
    -fx-background-color: -primary-light-color !important;
}
.mfx-date-picker .date-picker-popup .months-combo .mfx-combo-box-cell:selected .data-label  {
    -fx-text-fill: -background-color !important;
}








.mfx-date-picker .date-picker-popup .years-combo .mfx-combo-box-cell:hover {
    -fx-background-color: -primary-light-color !important;
}
.mfx-date-picker .date-picker-popup .years-combo .mfx-combo-box-cell:hover .data-label {
    -fx-text-fill: -background-color !important;
}

.mfx-date-picker .date-picker-popup .years-combo .mfx-combo-box-cell:selected  {
    -fx-background-color: -primary-light-color !important;
}
.mfx-date-picker .date-picker-popup .years-combo .mfx-combo-box-cell:selected .data-label  {
    -fx-text-fill: -background-color !important;
}





.mfx-date-picker .mfx-combo-box .text-field  {
    -fx-text-fill: -text-color;
}

.mfx-date-picker .mfx-icon-wrapper .mfx-ripple-generator {
	-mfx-ripple-radius: 24;
	-mfx-ripple-color: -off-background-color;
}

.mfx-date-picker:focused .icon {
	-mfx-color: -primary-color;
}


.mfx-date-picker .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: -primary-color;
}

.mfx-date-picker:disabled .icon {
	-mfx-color: -disabled-color;
}


.mfx-date-picker .date-picker-popup .mfx-date-cell:hover {
    -fx-background-color: -off-background-color;
}
.mfx-date-picker .date-picker-popup .mfx-date-cell:current {
    -fx-text-fill: -primary-color;
    -fx-background-color: -background-color;
}
.mfx-date-picker .date-picker-popup .mfx-date-cell:selected {
    -fx-text-fill: -off-background-color;
    -fx-background-color: -primary-color;
}
.mfx-date-cell:extra {
	-fx-text-fill: -disabled-color;
}