
.mfx-text-field {
	-mfx-main: -primary-light-color;
	-fx-font-size: 15px;
}

.mfx-text-field .text-field {
	-fx-highlight-fill: -primary-light-color; /* Selected text highlight */
	-fx-prompt-text-fill: -primary-light-color; /* Prompt text color */
}


/* Read Only pane, show disabled fields as normal fields */
.readOnly .mfx-text-field:disabled .text-field {
	-fx-text-inner-color: -text-color;
}

.readOnly .mfx-text-field:disabled .floating-text {
	-fx-text-fill: -text-color;
}

.readOnly .mfx-text-field:disabled .text-field, .readOnly .mfx-text-field:disabled .text-field{
	-fx-text-inner-color: black;
	-fx-opacity: 1.0;
}