
.mfx-text-field {
	-mfx-main: -primary-light-color;
	-fx-font-size: 15px;
}

.mfx-text-field:disabled .text-field {
	-fx-text-inner-color: -text-color;
}

.mfx-text-field:disabled .floating-text {
	-fx-text-fill: -text-color;
}

#userDetailPane .mfx-text-field:disabled .text-field, #userDetailPane .mfx-text-field:disabled .text-field{
	-fx-text-inner-color: black;
	-fx-opacity: 1.0;
}
